body, html {
  margin: 0;
  height: 100%; /*ovde si stavio 100%, i to je pravilo problem da ne moze text da se breakuje*/
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  border:1px solid #333;
}



#online {
  width:200px;
  height: auto;
  position: fixed;
  right: 0;
  top:0;
}

#online h4 {
  text-align: center;
}

.circle {
  height:13px;
  width:13px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: rgb(14, 200, 14);
  display: inline-block;
}

#online h5 {
  margin:0;
  display: inline;
}

#online p {
  margin: 0 0 10px 22px;
}

#chat {
  width:100%;
  height:100vh;
  overflow-y: scroll;
  margin-right: 200px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.bubble {
  margin: 0 0 10px 10px;
  max-width: 80%;
}

.bubble:last-child {
  margin-bottom: 50px;
}

#chat p {
  margin:0;
  background-color: #00843D;
  color:#fff;
  border-radius: 15px;
  display: inline-block;
  padding:10px 20px;
  word-break: break-all; /* ovo je da se rec prelomi gde god treba */
}

#chat h4 {
  margin:0;
  padding:5px 0 0 10px;
}

#type-area {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  /* background:red; */
}

#type-area p {
  margin:5px;
  padding:0;
}

#type-area div {
  display: flex;
  /* border:1px solid #333; */
  width: calc(100% - 220px);
  justify-content: space-around;
}

#type-area input {
  height:30px;
  width: 100%;
}

#type-area button {
  width:10%;
  min-width: 70px;
}